(Hydru.ai)

Libraries used:
selenium
openpyxl
pandas

Installations:
Must have chromedriver installed from Chrome
Once done go to driver.get("https://finance.yahoo.com/quote/APD/sustainability") in extract.py code
Change ticker to desired to ticker in this case it would extract "APD" information on to excel "output.xlsx"

